<div class="row">
	<h1 class="text-center">This is the results page</h1>
</div>

<% unless @string_to_find == "" || @string_to_find == " " %>
<div id="found_string">
	<h3 class="text-left">Phrase Lookup:
	<span class="lead"><mark><%= @string_to_find %></mark> was found: <b><%= @num_of_occurances %></b> time(s).</span>
	</h3>
</div>
<% end %> 

<% if @counted_words %>
	<h3 class="text-left">Breakdown:</h3>
	<p>Your passage was <%= @total_words %> word(s) long.</p>
	<table class="table table-hover">
		<tr> 
			<th>Rank</th>
			<th>Word</th>
			<th>Frequency</th>
			<th>Percentage</th>
		</tr>
	<% @counted_words.each_with_index() do |(key, value), index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= key %></td>
			<td><%= value %></td>
			<td><%= (value * 100 / @total_words * 100) / 100  %>%</td>
		</tr>
	<% end %>
	<table>

	<h3 class="text-left">Full Text Findings</h3>

<div id="full-text-container">
	<p id="full-text" class="text-muted"><%= @text %></p>
</div>

<% else %>
	<p>Oh, no! Something went wrong! Try again!</p>
<% end %>


<div class="row text-center">
	<a class="btn btn-lg btn-primary" href="/">Try Again?</a>
</div>

<script>
	window.onload = main();

	function main(){ 
		var i;
		var string_to_highlight = "<%= @string_to_find %>";
		var full_text = document.getElementById("full-text").innerHTML;

		full_text.search(string_to_highlight)
	}

		console.log(full_text);
		console.log(string_to_highlight);
	};
</script>



